body {
  margin: 0;
  overflow: hidden;
  background: black;
  font-family: Arial, sans-serif;
}

#hud {
  position: fixed;
  top: 10px;
  left: 10px;
  color: white;
  font-size: 16px;
  background: rgba(0,0,0,0.5);
  padding: 10px;
  border-radius: 8px;
}

#ui {
  position: fixed;
  bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

button {
  padding: 15px 35px;
  font-size: 18px;
  border-radius: 12px;
  border: none;
  font-weight: bold;
  background: #ffcc00;
}
