
body {
  margin: 0;
  font-family: Arial;
  background: #1b1b1b;
  color: white;
  text-align: center;
}

.title {
  margin: 10px;
}

#gameArea {
  width: 100%;
  max-width: 400px;
  height: 400px;
  background: #2e7d32;
  margin: auto;
  position: relative;
  overflow: hidden;
  border: 3px solid #000;
}

#player {
  width: 30px;
  height: 30px;
  background: blue;
  position: absolute;
  left: 185px;
  top: 185px;
}

.enemy {
  width: 30px;
  height: 30px;
  background: red;
  position: absolute;
}

.bullet {
  width: 6px;
  height: 6px;
  background: yellow;
  position: absolute;
}

.controls button {
  font-size: 22px;
  padding: 10px;
  margin: 3px;
}
