body {
  margin: 0;
  background: #000;
  overflow: hidden;
}

canvas {
  display: block;
}

.controls {
  position: fixed;
  bottom: 20px;
  width: 100%;
  text-align: center;
}

button {
  font-size: 30px;
  padding: 10px 30px;
  margin: 0 20px;
}