body {
  background: #1c1c1c;
  text-align: center;
  font-family: monospace;
  color: #fff;
}

.game {
  width: 90%;
  max-width: 600px;
  height: 200px;
  border-bottom: 2px solid #fff;
  margin: 40px auto;
  position: relative;
  overflow: hidden;
}

#dog {
  width: 40px;
  height: 40px;
  background: #fff;
  position: absolute;
  bottom: 0;
  left: 40px;
  border-radius: 10px;
}

#obstacle {
  width: 20px;
  height: 40px;
  background: #fff;
  position: absolute;
  bottom: 0;
  right: -20px;
  animation: move 2s linear infinite;
}

@keyframes move {
  0% { right: -20px; }
  100% { right: 100%; }
}

.jump {
  animation: jump 0.6s linear;
}

@keyframes jump {
  0% { bottom: 0; }
  50% { bottom: 90px; }
  100% { bottom: 0; }
}
